body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    opacity: 0.8;
}

ul {
    list-style: none;
}

main {
    overflow: hidden;
}

.header {
    background-color: white;
    height: 70px;
    position: relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 0 36px 0 36px;
    max-width: 100%;

}

.header-logo-link {
    align-self: center;
}

.header-logo-img {
    display: block;
    height: 20px;
    width: auto;
}

.header-menu-nav-humburger {
    display: none;
}

.header-menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu-item {
    margin-right: 45px;
}

.header-menu-item-link {
    color: #333;
}

.header-menu-item:last-child {
    margin-right: 0;
}

.header-menu-item-link > span {
    display: block;
    font-weight: 700;
    text-align: center;
}

.header-menu-item-link > span:first-child {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 14.4px;
}

.header-menu-item-link > span:last-child {
    font-size: 10px;
}

.header-menu-item-link {
    display: block;
}

.header-menu-button-link {
    display: block;    
    background-color: #F79214;
    color: white;
    border-radius: 30px;
    padding: 12px 20px;
    font-family: "游ゴシック", YuGothic;
    font-size: 12px;
}

.first-view {
    position: relative;
    height: 739px;
}

.left-rectangle {
    position: absolute;
    top: -70px;
    left: 0;
    z-index: -1;
}

.right-rectangle {
    position: absolute;
    bottom: 70px;
    right: 0;
    z-index: -1;
}

.fill-rectangle {
    position: absolute;
    top: 84px;
    left: -70px;
    z-index: -1;
}

.main-visual {
    position: absolute;
    top: -70px;
    right: 0;
    width: 775px;
    z-index: -1;
}

.sp-main-visual {
    display: none;
}

.first-view-container {
    position: relative;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 219px;
}

.first-view-content {
    position: relative;
    width: fit-content;
}

.first-view-title {
    font-family: "Loto", sans-serif;
    font-size: 42px;
    font-weight: 800;
    color: #333;
}

.first-view-button-link {
    display: block;
    text-align: center;
    background-color: #F79214;
    color: white;
    border-radius: 30px;
    padding: 20px 0;
    font-family: "游ゴシック", YuGothic;
}

.first-view-description {
    font-family: "游ゴシック", YuGothic;
    font-size: 12px;
    color: #333;
}

.first-view-badge {
    position: absolute;
    top: -75px;
    right: -145px;
}

@media screen and (max-width: 1080px) {

    .header-menu-list {
        display: none;
    }

    .first-view-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .header-menu-list {
        display: none;
    }

    .header-menu-nav-humburger {
        display: block;
        position: relative;
        align-self: center;
        width: 24px;
        height: 17px;
        margin: 25px 0;
        z-index: 100;
    }

    .humburger-line {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: #A2A2A4;
    }

    .humburger-line:first-child {
        top: 0;
    }

    .humburger-line:last-child {
        top: 100%;
    }

}

@media screen and (max-width: 767px) {
    .header-container {
        max-width: 100%;
        margin: 0 16px;
    }

    .header-logo-img {
        height: 18px;
    }

    .first-view {
        height: fit-content;
    }

    .first-view-container {
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .first-view-content {
        position: relative;
        width: fit-content; 

    }

    .first-view-title {
        font-size: 22px;
        line-height: 36px;
        width: auto;
        padding-right: 0;
    }

    .first-view-badge {
        width: 100px;
        height: 100px;
        top: -10px;
        left: 230px;
    }

    .left-rectangle {
        display: none;
    }

    .fill-rectangle {
        display: none;
    }

    .right-rectangle {
        display: none;
    }

    .main-visual {
        display: none;
    }

    .sp-main-visual {
        display: block;
        top: 0;
        right: 0;
        width: 100%;
        z-index: -1;
    }
}

@media screen and (max-width: 414px) {

    .header-logo-img {
        height: 16px;
    }

    .header-menu-nav-humburger {
        height: 12px;
        width: 18px;
    }
}